@import "../../common/common";

.index_page{
  width: $_750;
  overflow: hidden;
}

.teacher_list{
  width: 100%;
}

.teacher_list_li{
  margin: $_20 0;
  padding: $_20;
  background-color: #fff;

  a{
    display: block;
    overflow: hidden;
  }
}

.teacher_avatar{
  height: $_240;
  width: $_210;
  background-size: cover;
  float: left;
}

.teacher_detail{
  float: left;
}

.teacher_person_info{

}

.teacher_person_info:before{
  content: "";
  display: block;
  height: $_28;
  width: $_28;
  background-image: url("../images/icon_person.png");
  background-position: center center;
  background-size: 82% auto;
  background-repeat: no-repeat;
}